@model Proyecto_Resenas_CQS.Models.Resena

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resena</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Juego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Juego.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntuacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntuacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResenaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
